#window {
    max-height: 90vh;
    min-height: 90vh;
    height: 90vh;
    margin: 2vh 0;
}

#output {
    max-height: 60vh;
    min-height: 60vh;
    height: 60vh;
}

#feedback {
    max-height: 10vh;
    min-height: 10vh;
    height: 10vh;
}
