<div class="modal-header">
  <h4 class="modal-title">Edit user</h4>
  <button class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><span class="lead">Username:</span> {{user.username}}</p>
  <p><span class="lead">First name:</span> {{user.vorname}}</p>
  <p><span class="lead">Last name:</span> {{user.nachname}}</p>
  <p><span class="lead">Id:</span> {{user.id}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger" (click)="close()">Close</button>
</div>
