<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Userman</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="user">
        <a class="nav-link" routerLink="users">Userlist</a>
      </li>
      <li class="nav-item" *ngIf="user">
        <a class="nav-link" routerLink="create">Add User</a>
      </li>
    </ul>
    <app-login *ngIf="!user"></app-login>
    <app-logout *ngIf="user"></app-logout>
  </div>
</nav>
