<div class="container">
  <h5>ToDo</h5>

  <table class="table">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col" class="text-right"><button type="button" class="btn btn-success" (click)="addToDoButtonClicked()">Add</button></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of todoList; let i = index">
      <td>{{i}}</td>
      <td>{{item.title}}</td>
      <td>{{item.date}}</td>
      <td class="text-right">
        <button type="button" class="btn btn-secondary" (click)="done(i)">Done</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
